VITE_API_URL=https://xxxx.execute-api.ap-northeast-2.amazonaws.com/Prod
VITE_COGNITO_DOMAIN=https://todo-app-123456789.auth.ap-northeast-2.amazoncognito.com
VITE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_REDIRECT_URI=http://localhost:5173
